body {
    background-color: blanchedalmond;
}

.first-paragraph {
    border: 2px dashed darkblue;
}

#moralis-ref {
    text-shadow: 2px 2px 7px darkgray;
}

button {
    border: none;
    box-shadow: 3px 3px 7px rgb(90, 90, 90, 0.6);
    cursor: pointer;
}
[type=text], [type=number], [type=submit] {
    padding: 8px;
}